.container {
  text-align: center;
  .title {
    font-family: $tipografia;
    text-align: center;
  }
  .image {
    width: 90%;
    height: 90%;
    transition: 0.8s;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  .productos {
    background-color: bisque;
  }
}
