$tipografia: "Anton", sans-serif;
$bg: #ffc1bf;
@mixin fotos($dis, $corte, $m-w) {
  display: $dis;
  flex-wrap: $corte;
  max-width: $m-w;
}
@mixin secciones($area, $align, $m-t) {
  grid-area: $area;
  text-align: $align;
  margin-top: $m-t;
}
